/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

body {
    background-color: #F9F4F1;
}

div.home-container { 
	max-width: 50em;
    margin: auto;
	position: relative;
	min-height: 100vh;
}
div.container { 
	max-width: 50em;
    margin: auto;
	position: relative;
	min-height: 100vh;
}

h1 {
	width: 10em;
    margin: .25em;
    padding: .3em 0em .3em;
	}

h2 {
    font-family: "rotunda-veneta", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#6D8241;
    }      

section.mainstory h2{
    font-size: 3em;
	margin: 0em .1em 0em;
    }

section.addstory h2{
    font-size: 2em;
    margin: .1em .25em 0em;
}

section.thirdstory h2{
    font-size: 1.5em;
    margin: 0em .4em 0em;
    padding: .5em 0em 0em 0em;
    border-top: solid #B7957B .1em;
}

p{
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 1.25em;
    font-style: normal;
    color: #37372F;
    margin: .15em .5em 2em;
	font-weight: 400;
}

article h2{
    font-size: 3em;
	margin: 0em .3em 0em;
}

aside section.addstory h2{
    font-size: 1.25em;
    margin: .25em .4em 0em;
}

figcaption{
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: italic;
    color:rgb(100, 100, 100);
    margin: .25em .5em 1em;
}

aside {
    /*background-color: #F3E9E2;*/
    padding: 0em .75em 1em;
}

    /* navigation */

a {
    text-decoration: none;
     }
    
 nav ul  {
    text-align: left;
    }
        
ul li {
    list-style-type: none;
    margin: auto
    }

nav ul li {
    display:block;
    font-family: "EB Garamond", serif;
    font-weight: 700;
    font-style: normal;
    margin: 2em 1.5em 2em 0em;
    font-size: 1em;
    color:  #6D8241;
    }

    
nav ul li a {
    color:  #6D8241;
    padding: .25em .2em .25em;
    }
    
nav ul li.selected a{
    color:  #6D8241;
    padding: .25em .25em .25em;
    }

    /* photo gallery */
    body div.container section.gallery {
        width: 100%;
        margin: 0;
        padding: 0;
        grid-column: 1/3;
    }
    
    body div.container section.gallery main{
        position: relative;

    }

    section.gallery h2{
        font-size: 2em;
        margin: .1em .25em .5em;
    }
    section.gallery {
        position: relative;
        display: inline;
    }
    
    section.gallery main {
        grid-column: 1/2;
        position: relative;
        overflow: hidden;
        padding-bottom: calc(85% + 22em);
    }
    
    section.gallery main figure{
        margin: 0;
        position: absolute;
        opacity: 0;
        width: 100%
        transition: left 1s, opacity .5s;
    }
    
    section.gallery main figure figcaption p{
        font-family: "EB Garamond", serif;
        font-weight: 400;
        font-size: 1em;
        color:#37372F;
        margin: .25em 0em .25em;
    }
    
    section.gallery figcaption h2{
        font-size: 1.5em;
        margin: .1em 0em .5em;
    }


    section.gallery nav {
        margin-top: 1em;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto auto;
        grid-gap: .75em;
    }
    
    section.gallery nav label {
        align-content: start;
        margin: 0em;
        padding: 0em;
        height: auto;
        width: auto;
        display: grid;
        grid-template-rows:auto auto auto;
        grid-template-columns: auto auto auto;
    }

    input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
    input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
    input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
    input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
    input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
    input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
    input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
    input:nth-of-type(8):checked ~ main figure:nth-of-type(8),
    input:nth-of-type(9):checked ~ main figure:nth-of-type(9){
        opacity: 1;
    }

    section.gallery input {
        display: none;
    }

    /* newsletter */



    section.newsletter {
        position: relative;
        display: inline;
    }

    body div.container section.newsletter {
        width: 100%;
        margin: 0;
        padding: 0;
        grid-column: 1/3;
    }   
    section.newsletter form {
        grid-column: 1/2;
        position: relative;
        overflow: hidden;
    }

    section.newsletter figure{
        position: relative;
        height:max-content;
        margin-top: 3em;
    }

form h2{
    font-size: 2em;
    margin: .1em .25em .4em .4em;
}

section.personal-info{
    background-color: #BFC6A9;
    padding: 1em;
    margin-bottom: 1em;
    color: #37372F;
}

section.checktype{
    background-color: #BFC6A9;
    padding: 1em;
    margin-bottom: 1em;
    color: #37372F;
}

section.button{
    background-color: #BFC6A9;
    padding: 1em;
    margin-bottom: 0em;
    color: #37372F;
}

section.personal-info h2{
    color: #fcfcfc;
    font-size: 1.5em;
    margin: 0em .4em 0em 0em;
}

section.checktype h2{
    color: #fcfcfc;
    font-size: 1.5em;
    margin: 0em .4em 0em 0em;
}

section.personal-info ul li{
	display: flex;
	flex-wrap: wrap;
}

section.personal-info ul li input[type="text"],
section.personal-info ul li input[type="email"],
section.personal-info ul li input[type="tel"],
section.personal-info ul li select {
	flex: 2 0 20em; 
	box-sizing: border-box;
	margin: 1em 1em .25em .25em;
}

section.personal-info ul li label{
	flex: .5 0 5em;
	margin: 1em 1em .25em .25em;
}

section.checktype ul{
	display: flex;
	flex-wrap: wrap;
}

section.checktype ul li{
	margin: 0 1em .5em 0em;
	flex: 1 0 15em;
}

textarea {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 6em;
	background: #fcfcfc;
	/*border: 1px solid #B7957B;*/
	padding: 0.4em;
	font-family: sans-serif;
	color: #777;
	}


    /* footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3rem; 
    box-sizing: border-box;
    padding: .3em .5em;
    background: #B7957B;
  }

  footer p {
	margin: .5em .25em .25em;
	font-family: "EB Garamond", serif;
	font-weight: 400;
	font-style: normal;
    color:rgb(255,255,255);
  }

    /* media quiery */

  @media only screen and (min-width: 40em){
	nav ul li {
		display: inline;
  }

}

@media only screen and (min-width: 55em){
          /* photo gallery */
          body div.container section.gallery {
            width: 100%;
            margin: 0;
            padding: 0;
            grid-column: 1/3;
        }
        
        body div.container section.gallery main{
            position: relative;
    
        }
    
        section.gallery h2{
            font-size: 2em;
            margin: .1em .25em .5em;
        }
        section.gallery {
            position: relative;
            display: grid;
            grid-template-columns: 40% auto;
            grid-gap: 1em;
        }
        
        section.gallery main {
            grid-column: 1/2;
            position: relative;
            overflow: hidden;
            padding-bottom: calc(85% + 22.5em);
        }
        
        section.gallery main figure{
            margin: 0;
            position: absolute;
            opacity: 0;
            width: 100%
            transition: left 1s, opacity .5s;
        }
        
        section.gallery main figure figcaption p{
            font-family: "EB Garamond", serif;
            font-weight: 400;
            font-size: 1em;
            color:#37372F;
            margin: .25em 0em .25em;
        }
        
        section.gallery figcaption h2{
            font-size: 1.5em;
            margin: .1em 0em .5em;
        }
    
    
        section.gallery nav {
            margin-top: 3.25em;
            display: grid;
            grid-template-rows: repeat(3, 14em);
            grid-template-columns: repeat(3,10em);
            grid-gap: .75em;
        }
        
        section.gallery nav label {
            align-content: start;
            margin: 0em;
            padding: 0em;
            height: auto;
            width: auto;
            display: grid;
            grid-template-rows:auto auto auto;
            grid-template-columns: auto auto auto;
        }
    
        section.gallery nav label img{
            width: 9em;
            height: 14em;
        }
    
        input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
        input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
        input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
        input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
        input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
        input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
        input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
        input:nth-of-type(8):checked ~ main figure:nth-of-type(8),
        input:nth-of-type(9):checked ~ main figure:nth-of-type(9){
            opacity: 1;
        }
    
        section.gallery input {
            display: none;
        }
}

@media screen and (prefers-color-scheme: dark) {
    
    body{
        background-color: #37372F;
    }

    h1 {  
        background-image: url("stratfordplayers-logo-01.svg");  
        background-repeat: no-repeat;  
        background-size: contain;  
        }

    h1 img {  
        opacity: 0;  
    } 

    p,figcaption,section.gallery main figure figcaption p{
        color: #F9F4F1;
    }

    h2,nav ul li,nav ul li a,nav ul li.selected a{
        color:  #ACB691;
        }
    
    section.thirdstory h2{
        border-top: solid #D4C1B0;
    }

    footer{
        background-color: #D4C1B0;
    }

    footer p{
        color:#37372F;
    }

}

  @media only screen and (min-width: 60em){

    div.home-container{
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container{
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside{
        background: none;
        padding: 0;
        margin-top: 0;
    }

    div.container aside{
        margin-top: 0;
    }

    /*mainstory*/

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img{
        object-fit: cover;
    }

    section.mainstory a h2{
        flex: 0 0 1em;
    }

    section.mainstory a p{
        flex: 0  0 4em;
    }

   /*additionaly stories*/
   
   section.addstory {
    display: flex;
}

section.addstory a{
    flex: 1 0 12em;
    display: flex;
    flex-direction: column;
}

section.addstory a figure{
    flex: 1 0 12em;
    display: flex;
}

section.addstory a figure img{
    object-fit: cover;
}

section.addstory a h2{
    flex: 0 0 1em;
}

section.addstory a p{
    flex: 0  0 4em;
}


    /* newsletter */

    body div.container section.newsletter {
        width: 100%;
        margin: 0;
        padding: 0;
        grid-column: 1/3;
    }

    section.newsletter {
        position: relative;
        display: grid;
        grid-template-columns: 60% auto;
        grid-gap: 1em;
    }
    
    section.newsletter form {
        grid-column: 1/2;
        position: relative;
        overflow: hidden;
    }

    section.newsletter figure{
        position: relative;
        height:max-content;
        margin-top: 3em;
    }

form h2{
    font-size: 2em;
    margin: .1em .25em .4em .4em;
}

section.personal-info{
    background-color: #BFC6A9;
    padding: 1em;
    margin-bottom: 1em;
    color: #37372F;
}

section.checktype{
    background-color: #BFC6A9;
    padding: 1em;
    margin-bottom: 1em;
    color: #37372F;
}

section.button{
    background-color: #BFC6A9;
    padding: 1em;
    margin-bottom: 0em;
    color: #37372F;
}

section.personal-info h2{
    color: #fcfcfc;
    font-size: 1.5em;
    margin: 0em .4em 0em 0em;
}

section.checktype h2{
    color: #fcfcfc;
    font-size: 1.5em;
    margin: 0em .4em 0em 0em;
}

section.personal-info ul li{
	display: flex;
	flex-wrap: wrap;
}

section.personal-info ul li input[type="text"],
section.personal-info ul li input[type="email"],
section.personal-info ul li input[type="tel"],
section.personal-info ul li select {
	flex: 2 0 20em; 
	box-sizing: border-box;
	margin: 1em 1em .25em .25em;
}

section.personal-info ul li label{
	flex: .5 0 5em;
	margin: 1em 1em .25em .25em;
}

section.checktype ul{
	display: flex;
	flex-wrap: wrap;
}

section.checktype ul li{
	margin: 0 1em .5em 0em;
	flex: 1 0 15em;
}

textarea {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 6em;
	background: #fcfcfc;
	/*border: 1px solid #B7957B;*/
	padding: 0.4em;
	font-family: sans-serif;
	color: #777;
	}

}
